<h2>Browse by a category</h2>
<div id="loggingIn" style="display:block">
<form [formGroup]="viewsForm" (ngSubmit)="getCredentials(viewsForm.value.selectView)" required>
  <select formControlName="selectView">
    <option value="All">All</option>
    <option value="userName">Username</option>  
    <option value="webSite">Website</option>
    <option value="activeStatus">Active Status</option>
  </select>
  <button mat-raised-button color="primary" type="submit">View</button>
</form>
<br>
</div>
<div id="disp" style="display:none;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">Website</th>
        <th scope="col">Active?</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of credentialsList">
        <td>{{b.userName}}</td>
        <td>{{b.passWord}}</td>
        <td>{{b.webSite}}</td>
        <td>{{b.activeStatus}}</td>
        <td>{{b.actionLink}}</td>
      </tr>
    </tbody>
  </table>
</div>
<h2>Add a new login information</h2>
<form [formGroup]="credentialsForm" (ngSubmit)="addNewCredentials(credentialsForm.value)">
  <input placeholder="Username" formControlName="userName">
  <input type="password" placeholder="Password" formControlName="passWord">
  <input placeholder="Website" formControlName="webSite">
  <input placeholder="Active?" formControlName="activeStatus">
  <input placeholder="Action" formControlName="actionLink">
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>